<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenxi.investigation.domain.dao.AnsowerMapper" >
  <resultMap id="BaseResultMap" type="com.chenxi.investigation.domain.model.Ansower" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="optionId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="val" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="formid" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <insert id="insertList">
    insert into ansower (optionId,formid,val) VALUES
    <foreach collection="ansowers" item="ansower" separator=",">
      (#{ansower.optionid},#{ansower.formid},#{ansower.val})
    </foreach>
  </insert>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, optionId, val, formid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chenxi.investigation.domain.model.AnsowerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ansower
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ansower
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ansower
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.chenxi.investigation.domain.model.AnsowerExample" >
    delete from ansower
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chenxi.investigation.domain.model.Ansower" >
    insert into ansower (id, optionId, val, 
      formid)
    values (#{id,jdbcType=BIGINT}, #{optionid,jdbcType=BIGINT}, #{val,jdbcType=VARCHAR}, 
      #{formid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.chenxi.investigation.domain.model.Ansower" >
    insert into ansower
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="optionid != null" >
        optionId,
      </if>
      <if test="val != null" >
        val,
      </if>
      <if test="formid != null" >
        formid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="optionid != null" >
        #{optionid,jdbcType=BIGINT},
      </if>
      <if test="val != null" >
        #{val,jdbcType=VARCHAR},
      </if>
      <if test="formid != null" >
        #{formid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chenxi.investigation.domain.model.AnsowerExample" resultType="java.lang.Integer" >
    select count(*) from ansower
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ansower
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.optionid != null" >
        optionId = #{record.optionid,jdbcType=BIGINT},
      </if>
      <if test="record.val != null" >
        val = #{record.val,jdbcType=VARCHAR},
      </if>
      <if test="record.formid != null" >
        formid = #{record.formid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ansower
    set id = #{record.id,jdbcType=BIGINT},
      optionId = #{record.optionid,jdbcType=BIGINT},
      val = #{record.val,jdbcType=VARCHAR},
      formid = #{record.formid,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenxi.investigation.domain.model.Ansower" >
    update ansower
    <set >
      <if test="optionid != null" >
        optionId = #{optionid,jdbcType=BIGINT},
      </if>
      <if test="val != null" >
        val = #{val,jdbcType=VARCHAR},
      </if>
      <if test="formid != null" >
        formid = #{formid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenxi.investigation.domain.model.Ansower" >
    update ansower
    set optionId = #{optionid,jdbcType=BIGINT},
      val = #{val,jdbcType=VARCHAR},
      formid = #{formid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>